{% schema %}
{
  "name": "CrossTalk",
  "target": "section",
  "settings": []
}
{% endschema %}

<div
  id="crosstalk-localization"
  data-shop="{{ shop.permanent_domain }}"
>
  <span class="content">Loading localization…</span>
</div>


<style>
 .content {
    font-size: 4 rem;
    font-weight: 600;
    color: #eb0f0f;
  }
</style>


<script>
  (async function () {
    try {
      var container = document.getElementById('crosstalk-localization');
      if (!container) return;

      var shop = container.dataset.shop;

      var response = await fetch(
        'https://crosstalk-mu.vercel.app/api/localization?shop=' + shop
      );

      if (!response.ok) {
        console.error('CrossTalk fetch failed', response.status);
        return;
      }

      var config = await response.json();
      console.log('CrossTalk config:', config);

      container.innerHTML = `
        <div>
          <strong>Language:</strong> ${config.language}<br/>
          <strong>Currency:</strong> ${config.currency}
        </div>
      `;
    } catch (e) {
      console.error('CrossTalk error:', e);
    }
  })();
</script>
